<table class="table table-hover">
  <thead class="table-warning">
    <tr>
      <th>Number</th>
      <th>First name</th>
      <th>Last name</th>
      <th class="d-none d-md-table-cell">Email</th>
      <th class="d-none d-md-table-cell">Phone</th>
      <th>Delete</th>
    </tr>
  </thead>
  <!-- הזרקת נתונים דינאמים לטבלה -->
  <tbody>
    <tr
      *ngFor="let contact of contacts; index as i"
      [routerLink]="['leads-details', contact._id]"
      role="button"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ contact.firstName | titlecase }}</td>
      <td>{{ contact.lastName | titlecase }}</td>
      <td class="d-none d-md-table-cell">{{ contact.email }}</td>
      <td class="d-none d-md-table-cell">{{ contact.phone }}</td>
      <td>
        <button
          class="btn btn-outline-dark"
          (click)="changeLeadStatus($event, contact._id!,contact)"
        >
          <i class="fa-solid fa-heart-crack"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
