<div class="card-group col-12">
    <div
      *ngFor="let customer of customers"
      class="cursor col-6 col-sm-4 col-md-3 col-xl-2 m-5"
      [routerLink]="['customer-details', customer._id]"
    >
      <div class="card">
        <div class="card-body">
          <h5 class=" bg-dark text-light">
            {{ customer.firstName + " " + customer.lastName | titlecase }}
          </h5>
          <p>{{"Phone: " + customer.phone }}</p>
          <p>{{"Email: " +customer.email}}</p>
          <p>{{customer.address.street}}</p>
  
  
        </div>
      </div>
    </div>
  </div>
  