 <page-header
  title="leads"
  subTitle="this is the leads page"
  icon="fa-solid fa-headset"
  bgColor= "alert-danger rounded-3 p-2"
></page-header>
 <div *ngIf="dataReceived; else loader">
  
<leads-table  *ngIf="wishlistContacts && wishlistContacts.length; else nowishlistContacts"
[contacts]="wishlistContacts"
></leads-table>
</div>

<ng-template #nowishlistContacts>
  <div class="display-5">
    {{
      "Oops... it looks like there are no hot leads  to display at the moment"
        | toUpperCase
    }}
  </div>

</ng-template>
<ng-template #loader>
  <spinner-loader></spinner-loader>
</ng-template>

