<page-header
  title="customers"
  subTitle="this is the Costumers page"
  icon="fas fa-users"
  bgColor= "alert-success rounded-3 p-2"

>
</page-header>

<!-- <div *ngIf="dataReceived; else loader"> -->
  <div class="d-flex justify-content-between">
    <div class="my-2">
      <a
        routerLink="new-customer"
        class="btn btn-outline-dark"
        title="Add new customer"
        role="button"
        ><i class="fa fa-plus-circle"></i> {{ "add customer" | titlecase }}</a
      >
    </div>

    <display-mode-controllers
      [controllers]="controllers"
      (onChangeDisplay)="onChangeDisplay($event)"
    ></display-mode-controllers>
  </div>

  <search-bar
    [categories]="categories"
    [array]="customersRowData"
    (onArrayFiltered)="onSearch($event)"
  ></search-bar>

  <div *ngIf="customers && customers.length; else noCustomers">
    <customers-table
      *ngIf="display === 'table'"
      [customers]="customers"
      (onDeleteCustomer)="deleteCustomer($event)"
    ></customers-table>

    <customers-folders
      [customers]="customers"
      *ngIf="display === 'folder'"
    ></customers-folders>
    
    <customers-cards
      [customers]="customers"
      *ngIf="display === 'card'"
    ></customers-cards>
  </div>

  <ng-template #noCustomers>
    <div class="display-5">
      {{
        "Oops... it looks like there are no database Customers to display at the moment"
          | toUpperCase
      }}
    </div>
  </ng-template>

<ng-template #loader>
  <div class="display-5">
    {{
      "Oops... it looks like there are no database users to display at the moment"
        | toUpperCase
    }}
  </div></ng-template
>
