<table class="table table-hover">
    <thead class="table-info">
      <tr>
        <th>Number</th>
        <th>First name</th>
        <th>Last name</th>
        <th class="d-none d-md-table-cell">Email</th>
        <th class="d-none d-md-table-cell">Phone</th>
        <th>Age</th>
        <th class="d-none d-md-table-cell">Country</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>A.Leads</th>

      </tr>
    </thead>
    <!-- הזרקת נתונים דינאמים לטבלה -->
    <tbody>
      <tr *ngFor="let contact of contacts; index as i"
      [routerLink]="['contact-details',contact._id]" role="button">
        <td>{{ i + 1 }}</td>
        <td>{{ contact.firstName | titlecase }}</td>
        <td>{{ contact.lastName | titlecase }}</td>
        <td class="d-none d-md-table-cell">{{ contact.email }}</td>
        <td class="d-none d-md-table-cell">{{ contact.phone }}</td>
        <td>{{ contact.birthday | age}}</td>
        <td class="d-none d-md-table-cell">{{ contact.address.country | titlecase }}</td>
        <td>  <button class="btn btn-outline-dark"
          [routerLink]="['edit-contact', contact._id]">
            <i class="fas fa-pen"></i>
          </button></td>
        <td>
          
          <button class="btn btn-outline-dark"
          (click)="deleteContact($event, contact._id!)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
        <td>
          <button
          ngModel
          ngDefaultControl 
            class="btn btn-outline-dark"
            name="lead"
            #lead ="ngModel"
            [ngClass]="{
              'btn-outline-dark': lead.invalid && lead.touched  ,
              'bg-danger': lead.valid && lead.touched 
            }"
          >
            <i class="fa-solid fa-heart"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>