<page-header
  title="Leads details"
  icon="fa fa-user"
  subTitle="here you can find more details about the leads"
  bgColor= "alert-danger rounded-3 p-2"

>
</page-header>

<div class="my-2">
  <a routerLink="/leads" class="btn btn-outline-dark">
    <i class="fas fa-arrow-alt-circle-left"></i>
    {{ "back" | titlecase }}
  </a>
</div>

<div *ngIf="contact; else noContact">
  <div class="center">
    <div class="col-12 col-md-11 col-lg-10">
      <table
        class="table table-danger table-striped mt-2 table-bordered table-hover border-dark"
      >
        <tbody>
          <tr>
            <th class="col-12 col-lg-2">{{ "first name" | titlecase }}</th>
            <td class="col-12 col-lg-10">
              {{ contact.firstName | toUpperCase }}
            </td>
          </tr>
          <tr>
            <th >{{ "last name" | titlecase }}</th>
            <td >{{ contact.lastName | titlecase }}</td>
          </tr>
          <tr>
            <th >{{ "phone" | titlecase }}</th>
            <td >{{ contact.phone | titlecase }}</td>
          </tr>
          <tr>
            <th >{{ "birthday" | titlecase }}</th>
            <td >{{ contact.birthday  }}</td>
          </tr>
          <tr>
            <th >{{ "age" | titlecase }}</th>
            <td >{{ contact.birthday | age  }}</td>
          </tr>
          <tr>
            <th>{{ "mail" | titlecase }}</th>
            <td>{{ contact.email }}</td>
          </tr>
          <tr class="d-none d-md-table-row" *ngIf="contact.address">
            <th>{{ "address" | titlecase }}</th>
            <td>
              <table class="table m-0">
                <thead>
                  <tr>
                    <th *ngIf= "contact.address.state">
                      {{ "state" | titlecase }}
                    </th>
                    <th>{{"country" | titlecase}}</th>
                    <th>{{"city" | titlecase}}</th>
                    <th>{{"street" | titlecase}}</th>
                    <th>{{"house number" | titlecase}}</th>
                    <th>{{"zip" | titlecase}}</th>
                  </tr>
                  
                </thead>
                <tbody>
                  <tr>
                    <td *ngIf="contact.address.state">
                      {{ contact.address.state | titlecase }}
                    </td>
                    <td>{{ contact.address.country }}</td>
                    <td>{{ contact.address.city }}</td>
                    <td>{{ contact.address.street }}</td>
                    <td>{{ contact.address.houseNumber }}</td>
                    <td>
                      {{
                        contact.address.zip
                          ? contact.address.zip
                          : ("not none" | titlecase)
                      }}
                    </td>
                  </tr>
                  
                </tbody>

              </table>
            </td>
          </tr>
          <tr
              [ngClass]="
                contact.address.state ? 'd-table-row d-md-none' : 'd-none'
              "
            >
              <th>state</th>
              <td>{{ contact.address.state }}</td>
            </tr>
            <tr class="d-table-row d-md-none">
              <th>country</th>
              <td>{{ contact.address.country }}</td>
            </tr>
            <tr class="d-table-row d-md-none">
              <th>city</th>
              <td>{{ contact.address.city }}</td>
            </tr>
            <tr class="d-table-row d-md-none">
              <th>street</th>
              <td>{{ contact.address.street }}</td>
            </tr>
            <tr class="d-table-row d-md-none">
              <th>house number</th>
              <td>{{ contact.address.houseNumber }}</td>
            </tr>
            <tr
              [ngClass]="
              contact.address.zip !== 0 ? 'd-table-row d-md-none' : 'd-none'
              "
            >
              <th>zip</th>
              <td>{{ contact.address.zip }}</td>
            </tr>
          <tr *ngIf="contact.notes">
            <th>{{ "notes" | titlecase }}</th>
            <td>{{ contact.notes }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #noContact>
  <div class="p-2">
    {{ "no leads where found in the database" | toUpperCase }}
  </div>
</ng-template>
